version: '3.9'
services:
  app:
    build: .
    container_name: tweeky-queeky-app
    ports:
      - '5000:5000'
    environment:
      - NODE_ENV=production
      - PORT=5000
      - MONGO_URI=${MONGO_URI}
      - JWT_SECRET=${JWT_SECRET}
      - PAYPAL_CLIENT_ID=${PAYPAL_CLIENT_ID}
    volumes:
      - uploads:/var/data/uploads
    restart: unless-stopped

volumes:
  uploads:
